{% extends 'cohana/base.html' %}
{% load static %}

{% block main_content %}
<div id="panel1" class="panel panel-default" >
    <div class="panel-heading"> <h3> Which two combined events predict 2nd week
            retention? </h3></div>
    <div class="panel-body">
        <div id="correlation_overview" style="height: 800px; min-width: 310px;
            max-width: auto; margin: 0 auto; overflow-y: scroll;"></div>
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/correlation.js' %}"></script>
{% endblock %}

