{% extends 'cohana/base.html' %}
{% load static %}

{% block main_content %}

<div class="row">
    <div id="panel_role" class="panel panel-default panel-container" >
        <div class="panel-heading">
            <h3> Loyal User Detection </h3>
        </div>
        <div class="panel-body">
            <div class="panel-group" id="accordion">
                <h4> Definition : Loyal users are users who perform at least  
                    <button id="event-num" data-toggle="popover" 
                        href="#rangeslider1" data-parent="#accordion"
                        class="btn">3</button>
                    events in the consecutive 
                    <button id="day-num" data-toggle="popover" 
                        href="#rangeslider2" data-parent="#accordion"
                        class="btn">7</button> 
                    days</h4>
            </div>
            <div id="loyal_usr_stack" class="chartpanel" >  </div>
        </div> 
    </div>
</div>

{% endblock %}

{% block custom_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.0/bootstrap-slider.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.0/css/bootstrap-slider.css">
<script>
    var loyaltyStack_legend = {{ loyaltyStackLegend|safe }}
    var loyaltyStack_xlabel = {{ loyaltyStackXlabel|safe }}
    var loyaltyStack_data = {{ loyaltyStackData|safe }}
</script>
<script src="{% static 'js/loyal_usr_detection.js' %}">
</script>
{% endblock %}
